<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Obesity API</title>
</head>

<body>
    <form class="form">
        <p id="heading">Nova Instância</p>
        <div class="field">
            <input autocomplete="off" placeholder="Gender" class="input-field" type="text">
        </div>
        <div class="field">
            <input placeholder="Age" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="Height" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="Family history with overweight" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="FAVC" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="FCVC" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="NCP" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="CAEC" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="SMOKE" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="CH20" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="SCC" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="FAF" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="TUE" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="CALC" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="MTRANS" class="input-field" type="password">
        </div>
        <div class="field">
            <input placeholder="NObeyesdad" class="input-field" type="password">
        </div>
        <button class="button3">Cadastrar dados</button>
    </form>
</body>

</html>